<div class="mt-4">
    <h3>Đăng Khóa Học</h3>
<form class="row g-3" method="POST" action="/courses/store">
  <div class="col-9 bold-text bold-border">
    <label for="formGroupExampleInput" class="form-label">Nhập tên khóa học</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3 col-9 bold-text bold-border">
    <label for="exampleFormControlTextarea1" class="form-label">Nhập mô tả</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <div class="col-9 bold-text bold-border">
    <label for="formGroupExampleInput" class="form-label">Nhập videoId</label>
    <input type="text" class="form-control" id="video" name="video">
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Đăng Khóa Học</button>
  </div>
</form>
</div>